@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&family=Roboto:wght@400;500;700&family=Varela+Round&family=Work+Sans:wght@400;600;700&display=swap');

/*|| CSS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ||VARIABLES*/
:root {
  /*COLORS*/
  --PRIMARY:hsl(47, 88%, 63%);
  --WHITE-CLR: hsl(0, 0%, 100%);
  --GREY: hsl(0, 0%, 50%);
  --BLACK: hsl(0, 0%, 7%);

  /*TYPOGRAPHY*/

  /*BORDER*/

  /*Gap*/
  --GRID-GAP: 1.5rem;
  --FLEX-GAP: 1rem;
}

/* ||GENERAL*/
html {
  font-family: 'Figtree', sans-serif;
  font-size: clamp(0.8rem, 2.2vh, 1rem);
}


body {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--PRIMARY);
}

.content {
  /*Position - center vertically*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  /*Display*/
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--GRID-GAP);

  width: 90%;
  max-width: 375px;
  min-width: min-content;
  padding: 1em;
  background-color: var(--WHITE-CLR);
  border: 0.05rem solid var(--BLACK);
  border-radius: 1rem;
  
  transition: box-shadow 0.5s;
  /* 
  other overflow solution:
  
  1. min-width: min-content
  2. overflow: hidden;
  2. overflow-wrap: anywhere;

   */
}

.content__header,
.content__text {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--FLEX-GAP);
}

.content__header img {
  /*Img declare 100% to fit the container width.*/
  border-radius: 1rem;
  width: 100%;
  transition: opacity 0.15s;
}

.content__header .tag {
  width: fit-content;
  background-color: var(--PRIMARY);
  padding: 0.2em 0.5em;
  border-radius: 0.3rem;
   transition: opacity 0.15s;
}

.content__text  p {
  color: var(--GREY);
}

.content__avatar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--FLEX-GAP);
}

.content__avatar img {
  width: 40px;
}


/* ||STATES*/
.content:hover {
  box-shadow: 0.5rem 0.5rem 0 0.1rem;
}

.content__header .tag:hover,
.content__header img:hover
 {
  opacity: 0.75;
}

.content__avatar img:hover {
  transform: scale(1.2);
}

/*PSEUDO ELEMENT*/
::selection {
  background-color: var(--PRIMARY);
  color: var(--WHITE-CLR);
}
